body {
    padding-top: 54px;
    text-align: center;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }

}

.portfolio-item {
    margin-bottom: 30px;
}

.pagination {
    margin-bottom: 30px;
}

p {

}

.p-page-heading {
    font-style: italic;
}

a {
    text-transform: uppercase;
}

/* Navigation */
#mainNav .navbar-toggler {
    font-size: 12px;
    font-weight: 800;
    padding: 13px;
    text-transform: uppercase;
    color: #343a40;
}
